<footer class="footer footer-container rounded-top text-center">
  <h3>Contáctanos</h3>
 <div class="container">
   <table class="table" align="center">
     <tr>
       <!-- Link con el icono correo electrónico -->
       <td>
         <div class="govco-icon govco-icon-email-cp lang-govco ml-3 mr-">
           <a  href="#">
             <p>Correo electrónico</p>
           </a>
         </div>
       </td>
       <!-- Link con el icono Regresamos tu llamada -->
       <td>
         <div class="govco-icon govco-icon-callback-cp lang-govco ml-3 mr-">
           <a  href="#">
             <p>Regresamos tu llamada</p>
           </a>
         </div>
       </td>
       <!-- Link con el icono Contacto telefónico -->
       <td>
         <div class="govco-icon govco-icon-call-center-cp lang-govco ml-3 mr-">
           <a  href="#">
             <p>Contacto telefónico</p>
           </a>
         </div>
       </td>
       <!-- Link con el icono Llamada web -->
       <td>
         <div class="govco-icon govco-icon-callin-cp lang-govco ml-3 mr-0">
           <a  href="#">
             <p>Llamada web</p>
           </a>
         </div>
       </td>
       <!-- Link con el icono Redes sociales -->
       <td>
         <div class="govco-icon govco-icon-wifi-cp lang-govco ml-3 mr-">
           <a  href="#">
             <p>Redes sociales</p>
           </a>
         </div>
       </td>
     </tr>
  </table>
  <!-- Tabla con enlaces a otros datos no implementados -->
  <table align="center">
    <tr>
      <a href="#"><td><h6>Conoce a GOV.CO</h6></td></a>
      <a href="#"><td><h6>Términos de uso</h6></td></a>
      <a href="#"><td><h6>Mapa del sitio</h6></td></a>
    </tr>
  </table>
 </div>
</footer>
